<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DavidEpps.GA</title>
  </head>
  <body>
  	<header>
  		<h1>Create an Article</h1>
  		<ul>
  			<li><a href="/">Home</a></li>
  			<li><a href-"/articels">Articles Index</a></li>
  		</ul>
  	</header>
  </body>
</html>