<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DavidEpps.GA</title>
  </head>
  <body>
  	<header>
  		<h1>Show Page for <%=article.title%></h1>
  		<nav>
  			<ul>
  				<li><a href="/">Home</a></li>
  				<li><a href="/articles">Articles Index</a></li>
  			</ul>
  		</nav>
  	</header>
  </body>
</html>