<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DavidEpps.GA</title>
  </head>
  <body>
  	<header>
  		<h1>Authors</h1>
  		<nav>
  			<ul>
  				<li><a href="/">Home</a></li>
  				<li><a href="/authors/new">Create a NEW AUTHOR</a></li>
  			</ul>
  		</nav>
  	</header><!-- /header -->

  	
  </body>
</html>